.editorContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}
.editorContainer form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

    background-color: var(--color-background-lighter);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.editorContainer form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.editorContainer form button[type="submit"] {
    height: 3rem;

    appearance: none;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-primary-darker));
    cursor: pointer;
    background-size: 1px 100px;
    transition: 0.2s ease;

    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-primary);
}
.editorContainer form button[type="submit"]:hover {
    background-position: 100px;
}
.editorContainer form textarea {
    flex: 1;
    width: 100%;
    overflow: scroll-y;
    resize: none;
    padding: 1rem;

    background-color: inherit;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    transition: 0.2s ease-in;

    color: var(--color-font-primary);
    font-size: 1rem;
}

.editorContainer form textarea:focus {
    outline: none;
    box-shadow: var(--color-primary) 0px 0px 0px 1px;
    border-color: var(--color-primary);
}

.tagAdder {
    display: flex;
    gap: 1rem;
}
.tags {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

.tagSection {
    display: flex;
    align-items: center;
}
.tagSection input {
    border-radius: 8px 0 0 8px !important;
}
.tagSection input:focus + button {
    box-shadow: var(--color-primary) 0px 0px 0px 1px;
}
.tagSection button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin: 0;

    appearance: none;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0 8px 8px 0;
    transition: 0.2s ease-in;
}
.tagSection svg {
    color: var(--color-font-primary);
    font-size: 1rem;
}

.tagSection select {
    height: 2.5rem;
    padding: 0 0.5rem;

    background-color: inherit;
    color: var(--color-font-primary);
    border: 1px solid var(--color-border);
    transition: 0.2s ease-in;
}

.tagSection select:focus {
    outline: none;
    box-shadow: var(--color-primary) 0px 0px 0px 1px;
    border-color: var(--color-primary);
}

.tagSection select:focus + button {
    box-shadow: var(--color-primary) 0px 0px 0px 1px;
}

.tagSection option {
    background-color: var(--color-background-lighter);
}

.formField:has(textarea) {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .tagAdder {
        flex-direction: column;
    }
}

