@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  }

* {
    box-sizing: border-box;
}

:root {
    --color-background: rgb(40, 36, 41);
    --color-primary: #9162ac;
    --color-primary-darker: #4b2d5c;
    /* #473253; */
    --color-secondary: #E5E7E6;
    --color-border: #4D5258;

    --size-icon-tiny: 16px;
    --size-icon-small: 32px;
    --size-icon-medium: 48px;
    --size-icon-large: 64px;
}

body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    margin: 0;

    font-family: Raleway;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/*
    GLOBAL, SITE-WIDE STYLES
*/

a {
    padding: 4px;
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
