@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Monsterrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}

:root {
    --color-background: rgb(40, 36, 41);
    --color-background-lighter: rgb(51, 47, 53);

    --color-primary: #955eb4;
    --color-primary-lighter: #bc7ee0;
    --color-primary-darker: #4b2d5c;
    --color-secondary: #98D8B8;
    --color-secondary-lighter: #bff1d8;
    --color-secondary-darker: #5da782;

    --color-error: rgb(228, 0, 87);

    --tag-background: rgba(137, 77, 177, 0.16);
    --tag-color: #805AD5;

    --color-font-primary: #E5E7E6;
    --color-font-primary-darker: #b4b4b4;
    --color-border: #4D5258;

    --size-icon-tiny: 16px;
    --size-icon-small: 32px;
    --size-icon-medium: 48px;
    --size-icon-large: 64px;
}

body {
    background-color: var(--color-background);
    color: var(--color-font-primary);
    margin: 0;

    font-family: Raleway;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/*
    GLOBAL, SITE-WIDE STYLES
*/

img {
    max-width: 100%;
}

.error {
    color: var(--color-error);
}

span.highlight {
    color: var(--color-primary);
}

button.highlight {
    height: 3rem;

    appearance: none;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-primary-darker));
    cursor: pointer;
    background-size: 1px 100px;
    transition: 0.2s ease;

    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-primary);
}
button.highlight:hover {
    background-position: 100px;
}

a {
    padding: 4px;
    color: var(--color-font-primary);
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

label:has(+ input:required)::after, label:has(+ textarea:required)::after {
    content: '*';
    color: var(--color-error);
    font-size: 2rem;
    vertical-align: middle;
    position: relative;
    left: 2px;
    top: 2px;
}

button {
    cursor: pointer;
}
