main.aboutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContainer {
    width: 60%;
    margin: 0 auto 1rem;

    text-align: justify;
}

.aboutContainer h2 {
    text-align: center;
    font-size: 2.5rem;
}

.aboutContainer p {
    font-size: 1.1rem;
    line-height: 1.5rem;

    opacity: 0;
    transform: translateY(100px);
    animation: appear 1s forwards;
}
.aboutContainer p:nth-child(3) {
    animation-delay: 100ms;
}
.aboutContainer p:nth-child(4) {
    animation-delay: 400ms;
}
.aboutContainer p:nth-child(5) {
    animation-delay: 700ms;
}
.aboutContainer p:nth-child(6) {
    animation-delay: 1100ms;
}

.aboutContainer .avatar {
    shape-outside: circle(50%);
    border-radius: 9999px;
    margin: 1rem;
    aspect-ratio: 1/1;
    width: 20%;
    float: left;

    transform: rotateY(90deg);
    animation: spin 2s ease forwards;
    animation-delay: 600ms;
}

.aboutContainer .avatar img{
    border-radius: 9999px;
    transform-style: preserve-3d;
}

@keyframes appear {
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
