.commentsWrapper {
    width: 100%;
    margin: 0 auto;

    border-top: 1px solid var(--color-border);
}

.commentCreatorWrapper {
    border-bottom: 1px solid var(--color-border);
}
.commentCreator {
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
}

.commentCreator h3 {
    margin: 0;
    font-size: 2rem;
}

.commentCreator form {
    display: flex;
    flex-direction: column;
}
.commentCreator form label {
    margin-top: 0.5rem;
}
.commentCreator form textarea {
    flex: 1;
    width: 100%;
    overflow: scroll-y;
    resize: none;
    padding: 1rem;
    margin-bottom: 0.5rem;

    background-color: inherit;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    transition: 0.2s ease-in;

    color: var(--color-font-primary);
    font-size: 1rem;
}
.commentCreator form textarea:focus {
    outline: none;
    box-shadow: var(--color-primary) 0px 0px 0px 1px;
    border-color: var(--color-primary);
}
.commentCreator form button {
    padding: 0.5rem 1rem;
    align-self: flex-end;
}

.commentsContainer {
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
}
.commentsContainer h3 {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.comments > p {
    font-size: 1.2rem;
    margin: 0;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 100%;

    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.commentInfo {
    display: flex;
    align-items: center;
}
.commentInfo span {
    width: fit-content;
}
.commentInfo span:first-child {
    font-size: 1.2rem;
    color: var(--color-primary);
    margin-right: 0.5rem;
}
.commentInfo span:last-child {
    font-size: 0.6rem;
}
.commentContent p {
    margin: 0;
}

@media screen and (max-width: 1320px) {
    .commentCreator, .commentsContainer {
        width: 75%;
    }
}

@media screen and (max-width: 650px) {
    .commentCreator, .commentsContainer {
        width: 100%;
    }

    .cover {
        width: 100%;
    }
}
