header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 9999;

    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-border);
}

.headerContainer {
    width: 60%;
    padding: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    height: var(--size-icon-medium);
}

.logoContainer h1 {
    margin: 0;
}

nav ul {
    display: flex;
    gap: 1rem;

    margin: 0;
    list-style-type: none;
}

li {
    padding: 4px;
    font-size: 1.2rem;
}

.headerWelcome {
    border-left: 1px solid var(--color-border);
    padding-left: 1rem;
    color: var(--color-font-primary-darker)
}

.styledLink {
    background-color: var(--color-primary);
    padding: 0.75rem 1rem;
    border-radius: 8px;
}

.styledLink:hover {
    text-decoration: none;
    background-color: var(--color-primary-darker);
}


.menu {
    display: none;
    font-size: 2rem;
}

.mobile {
    position: absolute;
    top: 76px;
    right: 0;
    width: 100%;
    padding: 0;
    gap: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-background-lighter);
 }

 .mobile li {
    width: 100%;
    padding: 1rem;
 }

.mobile li:not(.mobile li:last-child) {
    text-align: center;
}

.mobile li:last-child a {
    display: block;
    width: 100%;

    text-align: center;
}

.mobile .headerWelcome {
    border: none;
    padding: 0;
}

.logoutContainer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--color-border);
}

@media screen and (max-width: 1320px) {
    .headerContainer {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .menu {
        display: block;
    }
    .desktop {
        display: none;
    }
}

