article.post {
    width: 100%;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

article.post .cover {
    width: 50%;
    height: 300px;
    margin: 0 auto;

    border-radius: 0 0 16px 16px;
    overflow: hidden;
}

article.post img {
    width: 100%;
    object-fit: cover;
}

article.post .info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

article.post h2 {
    margin: 0;

    font-size: 2.5rem;
}

article.post .tags {
    display: flex;
    gap: 0.5rem;
}
article.post .tags span {
    font-size: 1em;
}

article.post .content {
    width: 50%;
    margin: 0 auto;
    white-space: pre-wrap;
}

article.post .content p {
    margin: 0;

    font-size: 1.2em;
    color: var(--color-font-primary-darker);
}

@media screen and (max-width: 1320px) {
    article.post .content, article.post .info, article.post .cover {
        width: 75%;
    }
}

@media screen and (max-width: 650px) {
    article.post .cover {
        width: 100%;
    }
}
